<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd"
>


	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<array>
				<ref bean="jsonHttpMessageConverter" />
			</array>
		</property>
	</bean>

	<bean id="jsonHttpMessageConverter" class=" org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="prefixJson" value="false" />
		<property name="supportedMediaTypes" value="application/json" />
		<property name="objectMapper" ref="myObjectMapper" />
	</bean>

	<bean id="myObjectMapper" class="org.codehaus.jackson.map.ObjectMapper">
		<property name="serializationConfig.serializationInclusion">
			<value type="org.codehaus.jackson.map.annotate.JsonSerialize.Inclusion">NON_NULL</value>
		</property>
	</bean>

	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">

		<property name="mediaTypes">
			<map>
				<entry key="json" value="application/json" />
				<entry key="jsonp" value="application/javascript" />
			</map>
		</property>
		<property name="defaultViews">
			<list>
				<!-- 输出为JSON数据 -->
				<bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView">
					<property name="objectMapper" ref="myObjectMapper" />
				</bean>
				<!--<bean class="com.qunar.piao.ticket.common.spring.MappingJacksonJsonpView">-->
					<!--<property name="objectMapper" ref="myObjectMapper" />-->
				<!--</bean>-->
			</list>
		</property>
	</bean>

	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

</beans>
